@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.barMenu{
  width: 100%;
  opacity: 90%;
  font-family: 'Nanum Myeongjo', serif;
}


/* Title and Logo part */



.rowBar{
  margin: auto;
  text-align: center;
}

img.Logo{
  border-radius: 25%;
  width: 50px;
  height: auto;
}


/* Nav Game part */

.m-auto a{
  text-decoration:none; 
  color: black;
  width: max-content;
}

.m-auto a:hover{
  color: black;
}


/* Blinking badge New */

.Blink {
    animation: blink-animation 1s steps(4, start) infinite;
    -webkit-animation: blink-animation 2s steps(4, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
}

/* Responsive part */

@media screen and (max-width: 1024px) {

.m-auto a{
  margin: 0 auto 0 auto;
}

}