
/* Title or Logo part */

.barMenu{
  width: 100%;
}


/* Nav Game part */

.m-auto a{
  text-decoration:none; 
  text-align: center;
  color: black;
}


/* Blinking badge New */

.Blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 4s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
}
/* Shadow part below the navbar */

/* .shadow{
    position: relative;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
}

.shadow:before,
.shadow:after{
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    top: 50%;
    bottom: 0;
} */