@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

div.mainFooter{
    width: auto;
    height: auto;
    background-color: rgba(38, 37, 37, 0.689);
    font-family: 'Nanum Myeongjo', serif;
}

.colFooter{
    color: white;
    margin: 10px auto 10px auto;
}

h5{
    margin-top: 15px;
}


/* Link part */

.LinkNavigation{
    /* justify-content: center; */
    text-decoration:none; 
    display: flex;
    color: white;
    margin: auto;
    /* padding: 0 20px 0 20px; */
}

.LinkGame{
    text-decoration:none; 
    display: flex;
    color: white;
    margin: auto;
}

a.SocialFooter{
    /* width: 75px; */
    text-decoration:none; 
    color: white;
    display: flex;
}

img.LogoFooter{
  border-radius: 25%;
  margin: 0 10px 5px 0;
  width: 25px;
  height: auto;
}

a:hover{
    color: white;
}

/* .LinkMDR:hover{
    color: white;
} */

.FooterCopyright{
    margin: 20px auto 0 auto;
    justify-content: center;
    color: white;
    display: flex;
}

.LinkMapapa{
    text-decoration:none; 
    display: flex;
    color: white;
}