div.mainFooter{
    height: auto;
    background-color: rgba(38, 37, 37, 0.689);
}

.colFooter{
    color: white;
}

h5{
    margin-top: 15px;
}


/* Link part */

a.SocialFooter{
    width: 75px;
    text-decoration:none; 
    color: white;
    display: flex;
}

a:hover{
    color: white;
}

.LinkMDR{
    width: 50px;
    text-decoration:none; 
    display: flex;
    color: white;
}

/* .LinkMDR:hover{
    color: white;
} */

.FooterCopyright{
    margin-top: 20px;
   justify-content: center;
    color: white;
    display: flex;
}