div.MainPage{
    background-color: rgba(0, 119, 255, 0.493);
    height: auto;
}

.title{
    color: white;
    font-size: 40px;
    display: block;
    margin: 300px auto 150px auto;
}


.presentation{
    /* margin: auto; */
    display: block;
    margin: 150px auto 30px auto;
    color: pink;
    font-size: 20px;
    line-break: normal;
}

h2.CrewPresentation{
    color: white;
    text-align: center;
    margin: 200px 0 90px 0;
}

.Profile{
justify-content: center;
}

/* .ProfileImage{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    object-fit: cover;
    border-radius: 50%;
} */